@tailwind base;
@tailwind components;
@tailwind utilities;

[contentEditable=true]:empty:not(:focus):before {
    content: "Start writing or type '/' to see commands";
    color: #9ca3af;
}

.editable-h1:empty:not(:focus):before,
.editable-h2:empty:not(:focus):before,
.editable-h3:empty:not(:focus):before {
    content: "Untitled Heading";
    color: #9ca3af;
}

.editable-h1 {
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
}
.editable-h2 {
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
}
.editable-h3 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}